<div class="cart fixed background-white shadow">
    <div class="cart-header">
        <a href="{% url 'payment' %}" class="btn">Tính tiền</a>
    </div>
    <div class="cart-body">
        <div class="list-item padding-10">
            {% for item in order_detail %}
            <div class="cart-item">
                <div class="quantity ">
                    <span>{{ item.quantity }}</span>
                </div>
                <div class="product-title">{{ item.product.name_product }}</div>
                <div class="product-prices">{{ item.get_item_price }}₫</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="cart-footer">
        <div class="flex-space-between padding-10">
            <div>Tổng tiền</div>
            <div id="total-price">{{ total }}₫</div>
        </div>
    </div>

</div>