<div class="cart fixed background-white shadow">
    <div class="cart-header">
        <button class="btn">Tính tiền</button>
    </div>
    <div class="cart-body">
        <div class="list-item padding-10">
            <div class="cart-item">
                <div class="quantity ">
                    <span>1</span>
                </div>
                <div class="product-title">product-title</div>
                <div class="product-prices">100.000 ₫</div>
            </div>
            <div class="cart-item">
                <div class="quantity ">
                    <span>11</span>
                </div>
                <div class="product-title">Bánh Mì VN Gà Kim Quất</div>
                <div class="product-prices">100.000 ₫</div>
            </div>
        </div>
        <div class="flex-space-between padding-10">
            <div>Cộng (<span id="count">0</span> món)</div>
            <div id="count-price">0 ₫</div>
        </div>
    </div>
    <div class="cart-footer">
        <div class="flex-space-between padding-10">
            <div>Tổng tiền</div>
            <div id="total-price">0 ₫</div>
        </div>
    </div>

</div>