.center-wrapper {
    position: fixed;
    top: calc(50vh - 25%);
    text-align: center;
    margin: auto;
    width: 100%;
}

.login-box {
    margin: auto;
    width: 450px;
    background: #fff;
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
}

.form-group label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-group input {
    width: 100%;
    padding: 8px;
    background-color: #f5f5f5;
    outline: none;
    transition: all .3s;
    font-size: 1em;
    border: 1px solid var(--border-color);
}

input:focus {
    border: 1px solid var(--main-color);
    outline: none;
}

.form-group .btn {
    width: 100%;
}